body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#e4ded0, #abccbd, #7dbeb8, #181619);
    background-color: #ffe0ee; /* Cambiado a color de fondo para body */
}

/* Se agrupan los estilos para .letter */
.letter {
    color: darkblue;
    display: flex;
    padding: 20px;
}

/* Se agrupan los estilos para .left-column */
.left-column {
    display: flex;
    flex-direction: column;
    flex: 0.5; /* Ajuste del ancho */
}

/* Se agrupan los estilos para .top-section */
.top-section {
    display: flex;
    align-items: center;
    margin-left: 40%; /* Ajuste del margen izquierdo */
}

/* Se agrupan los estilos para .search-box */
.search-box {
    flex: 1;
    margin-left: 20px;
    display: inline-block; /* Cambio de display */
}

/* Se agrupan los estilos para .column */
.column {
    background-color: #ffe0ee; /* Cambiado a color de fondo */
    margin-bottom: 50px;
    padding: 20px;
    cursor: pointer;
    border: silver 2px solid;
    text-align: center; /* Alineación justificada */
    margin-left: 30%; /* Ajuste del margen izquierdo */
    border-radius: 10px; /* Se mueve el border-radius aquí */
}

/* Se agrupan los estilos para .info-column */
.info-column {
    flex: 0.5; /* Ajuste del ancho */
    margin-left: 20px;
}

/* Se agrupan los estilos para .right-column */
.right-column {
    display: flex;
    flex-direction: column;
    flex-basis: 18%; /* Ancho de la columna derecha */
    margin-left: 20px;
    padding: 20px;
    background-color: transparent;
    margin: 20px;
    height: 1070px; /* Ajuste de altura */
}

/* Se agrupan los estilos para h2 */
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Se agrupan los estilos para p */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Se agrupan los estilos para a */
a {
    color: #007bff;
    text-decoration: none;
}

/* Se agrupan los estilos para a:hover */
a:hover {
    text-decoration: underline;
}

/* Se agrupan los estilos para .imagen-cuadro */
.imagen-cuadro {
    margin-bottom: 20px;
}

/* Se agrupan los estilos para .imagen-cuadro img */
.imagen-cuadro img {
    width: 116%;
    height: auto;
    border-radius: 8px;
}

/* Se agrupan los estilos para .contactos */
.contactos {
    margin-top: auto; /* Para que se posicione al final */
}

/* Se agrupan los estilos para .contactos h2 */
.contactos h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Se agrupan los estilos para .contactos ul */
.contactos ul {
    list-style-type: none;
    padding: 0;
}

/* Se agrupan los estilos para .contactos li */
.contactos li {
    margin-bottom: 10px;
}

/* Se agrupan los estilos para .autocomplete */
.autocomplete {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 999;
    width: calc(17% - 2px);
}

/* Se agrupan los estilos para .autocomplete li */
.autocomplete li {
    padding: 10px;
    cursor: pointer;
}

/* Se agrupan los estilos para .autocomplete li:hover */
.autocomplete li:hover {
    background-color: #e9e9e9;
}

/* Se agrupan los estilos para .autocomplete li:last-child */
.autocomplete li:last-child {
    border-bottom: none;
}

/* Se agrupan los estilos para .logo-container */
.logo-container {
    position: fixed;
    top: 20px; /* Ajusta el valor según sea necesario */
    left: 20px; /* Ajusta el valor según sea necesario */
    z-index: 9999; /* Asegura que la imagen esté por encima del contenido */
}

/* Se agregan estilos para select */
select {
    background-color: transparent; /* Hace el fondo del select transparente */
    border: none; /* Quita el borde */
    outline: none; /* Quita el contorno al hacer clic */
}

/* Se agregan estilos para select option */
select option {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
}

/* Se agregan estilos para la opción "Seleccione un tema" */
select option[value=""] {
    display: none; /* Oculta la opción "Seleccione un tema" */
}

/* Se agrupan los estilos para .search-box input[type="text"] */
.search-box input[type="text"],
/* Se agrupan los estilos para .search-box button */
.search-box button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Se agrupan los estilos para .search-box button */
.search-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Se agrupan los estilos para .search-box:hover input[type="text"] */
.search-box:hover input[type="text"],
/* Se agrupan los estilos para .search-box:hover button */
.search-box:hover button {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
